// 本日精選

.picks{
    position: relative;
    &-img{
        min-height: 315px;
        background-repeat: no-repeat;
    }
    &-title{
        position: absolute;
        top: 0;
        left: 20px;
        padding: 10px 5px;
        text-align: center;
        writing-mode: vertical-rl;
        font-size: 1.125rem;
        letter-spacing: 2px;
        background-color: $accent;
        color: #FFF;
    }
    &-body{
        border: 1px solid $secondary;
        font-size: 1.25rem;
    }
    &-name{
        padding-top: 16px;
        padding-bottom: 16px;
        border-right: 1px solid $secondary;
    }
    &-coins{
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
    }
    @include pad{
        margin-top: 30px;
    }
}
.favorite-icon{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 20px;
    color: $primary;
}
// .favorite-icon{
//     position: absolute;
//     top: 20px;
//     right: 22px;
//     font-size: 20px;
//     color: $primary;
// }