// 本日精選

.picks{
    position: relative;
    &-img{
        min-height: 315px;
        background-repeat: no-repeat;
    }
    &-img-1{
        background-image: url(../images/product-1.png);
    }
    &-img-2{
        background-image: url(../images/product-2.png);
    }
    &-img-3{
        background-image: url(../images/product-8.png);
    }
    &-img-4{
        background-image: url(../images/product-4.png);
    }
    &-img-5{
        background-image: url(../images/product-5.png);
    }
    &-img-6{
        background-image: url(../images/product-6.png);
    }
    &-img-7{
        background-image: url(../images/product-7.png);
    }
    &-img-8{
        background-image: url(../images/product-8.png);
    }
    &-img-9{
        background-image: url(../images/product-9.png);
    }
    &-title{
        position: absolute;
        top: 0;
        left: 20px;
        padding: 10px 5px;
        text-align: center;
        writing-mode: vertical-rl;
        font-size: 1.125rem;
        letter-spacing: 2px;
        background-color: $accent;
        color: #FFF;
    }
    &-body{
        border: 1px solid $secondary;
        font-size: 1.25rem;
    }
    &-name{
        padding-top: 16px;
        padding-bottom: 16px;
        border-right: 1px solid $secondary;
    }
    &-coins{
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
    }
    @include pad{
        margin-top: 30px;
    }
}
.favorite-icon{
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 20px;
    color: $primary;
}