.list-group-item{
    font-size: 1.5rem;
    &.active{
        color: $primary;
    }
}
.btn-secondary{
    color: $primary;
}
.paragraph{
    &4{
        font-size: 1.25rem;
    }
    &5{
        font-size: 1rem;
    }

}